.form{
    width: 770px;
    height: 60px;
    display: flex;
}

@media (max-width: 1200px) {
    .form{
        width: 50%;
        height: 45px;

    }
}

@media (max-width: 992px) {
    .form{
        width: 75%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .form{
        width: 100%;
        padding: 0 15px;
    }
}
