.list-numbers__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 80px;
    color: black;
}

@media (max-width: 1200px) {
    .list-numbers__item{
        height: 50px;
    }
}
