.footer__wrapper{
    width: 1200px;
    flex-grow: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 60px 15px;
}

@media (max-width: 1600px) {
    .footer__wrapper{
        width: 1140px;
    }
}

@media (max-width: 1200px) {
    .footer__wrapper{
        width: 960px;
    }
}

@media (max-width: 992px) {
    .footer__wrapper{
        width: 720px;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .footer__wrapper{
        width: 540px;
        padding: 15px 15px;
    }
}

@media (max-width: 576px) {
    .footer__wrapper{
        width: 100%;
    }
}
