.button_small-font{
    padding: 0 45px;
    font-size: 12px;
    font-family: "Raleway Regular", sans-serif;
}

@media (max-width: 1200px) {
    .button_small-font{
        padding: 10px 20px;
    }
}

@media (max-width: 992px) {
    .button_small-font{
        padding: 5px 10px;
    }
}

