@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway Bold/Raleway-Bold.eot');
    src: url('fonts/Raleway Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway Bold/Raleway-Bold.woff') format('woff'),
    url('fonts/Raleway Bold/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('fonts/Raleway Regular/Raleway-Regular.eot');
    src: url('fonts/Raleway Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway Regular/Raleway-Regular.woff') format('woff'),
    url('fonts/Raleway Regular/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('fonts/Open Sans Regular/OpenSans-Regular.eot');
    src: url('fonts/Open Sans Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open Sans Regular/OpenSans-Regular.woff') format('woff'),
    url('fonts/Open Sans Regular/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/Open Sans Light/OpenSans-Light.eot');
    src: url('fonts/Open Sans Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open Sans Light/OpenSans-Light.woff') format('woff'),
    url('fonts/Open Sans Light/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/Open Sans Bold/OpenSans-Bold.eot');
    src: url('fonts/Open Sans Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open Sans Bold/OpenSans-Bold.woff') format('woff'),
    url('fonts/Open Sans Bold/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
