.container{
    width: 1200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1600px) {
    .container{
        width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container{
        width: 960px;
    }
}

@media (max-width: 992px) {
    .container{
        width: 720px;

    }
}

@media (max-width: 768px) {
    .container{
        width: 540px;
        padding: 0 15px;
        justify-content: space-around;
    }
}

@media (max-width: 576px) {
    .container{
        width: 100%;
    }
}
