.button{
    display: inline-block;
    padding: 20px 45px;
    background-color:white;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #343435;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    font-size: 16px;
    font-family: "Raleway Bold", sans-serif;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background-color: #e7434e;
    border-color: #e7434e;
    color: white;
    transform: scale(1.04);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

@media (max-width: 992px) {
    .button{
        padding: 10px 35px;
    }
}

@media (max-width: 576px) {
    .button{
        padding: 5px 10px;
        font-size: 12px;
        /*font-family: "Raleway Regular", sans-serif;*/
    }
}
