.img{
    width: 100%;
    height: auto;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.img:hover + .over-img .over-img__btn{
    transition: 0.3s ease-in-out;
    visibility: visible;
}

.img:hover + .over-img .boat_position::before{
    transition: 0.3s ease-in-out;
    visibility: visible;
}
