.over-img{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.over-img:hover .over-img__btn{
    transition: 0.3s ease-in-out;
    visibility: visible;
}

.over-img:hover .boat_position::before{
    transition: 0.3s ease-in-out;
    visibility: visible;
}

@media (max-width: 576px) {
    .over-img{
        padding: 15px;
    }
}
