.over-img__btn{
    visibility: hidden;
    align-self: flex-start;
    position: relative;
    background: #e7434e;
    font-family: "Open Sans Bold", sans-serif;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.over-img__btn:hover{
    transition: 0.3s ease-in-out;
    visibility: visible;
}