.text-secondary{
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .text-secondary{
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.2;
        font-size: 14px;
    }
}
