.button_icon{
    display: none;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
}

.button_icon:hover{
    background-color: transparent;
    border-color: white;
}

@media (max-width: 768px) {
    .button_icon{
        display: flex;
    }
}
