.boat::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url("boat-transparent.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    transition: 0.3s ease-in-out;
}

.boat:hover::before{
    background: url("boat-transparent-black.png") no-repeat center;
    transition: 0.3s ease-in-out;
}

@media (max-width: 1200px) {
    .boat::before{
        left: 20px;
    }
}

@media (max-width: 576px) {
    .button_btn.boat::before{
        display: none;
    }
}
