.over-img__text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Raleway Regular",sans-serif;
}

.over-img__text:hover + .img-btn{
    transition: 0.3s ease-in-out;
    display: inline;
}
