.headline_h3{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .headline_h3{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .headline_h3{
        font-size: 14px;
    }
}
