.section__header_smaller{
    padding-top: 90px;
    margin-bottom: 75px;
}

@media (max-width: 1200px) {
    .section__header_smaller{
        padding-top: 40px;
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .section__header_smaller{
        padding-top: 15px;
        margin-bottom: 15px;
    }
}
