.small-text{
    color: #717171;
    font-size: 24px;
    padding: 0 15px;
    text-align: center;
    line-height: 1.2;
    font-family: "Open Sans Regular", sans-serif;
}

@media (max-width: 992px) {
    .small-text{
        font-size: 16px;
    }
}
