.navigation{
    display: flex;
}

@media (max-width: 768px) {
    .navigation{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        background-color: black;
        top: 58px;
        right: -15px;
        padding: 0 15px 0 5px;
    }
}
