.form__input{
    flex-grow: 1;
    padding-left: 40px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 16px;
    font-family: "Raleway Regular", sans-serif;
}

.form__input{
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .form__input{
        padding-left: 20px;
    }
}

@media (max-width: 576px) {
    .form__input{
        font-size: 12px;
        text-transform: none;
        padding-left: 10px;
    }
}
