.form_smaller{
    width: 415px;
    height: 40px;
}

@media (max-width: 1200px) {
    .form_smaller{
        width: 300px;
        height: 35px;
    }
}

@media (max-width: 992px) {
    .form_smaller{
        width: 100%;
        padding: 0;
        height: auto;
    }
}

@media (max-width: 576px) {
    .form_smaller{
        width: 50%;
    }
}

@media (max-width: 500px) {
    .form_smaller{
        width: 75%;
    }
}

@media (max-width: 380px) {
    .form_smaller{
        width: 100%;
    }
}
