.headline_h1{
    font-size: 75px;
    letter-spacing: 10px;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 1200px) {
    .headline_h1{
        font-size: 60px;
        letter-spacing: 7px;
    }
}

@media (max-width: 992px) {
    .headline_h1{
        font-size: 45px;
        letter-spacing: normal;
    }
}

@media (max-width: 768px) {
    .headline_h1{
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .headline_h1{
        font-size: 20px;
    }
}
