.header{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 1;
    background: transparent;
}

@media (max-width: 1200px) {
    .header{
        height: auto;
    }
}

@media (max-width: 768px) {
    .header{
        position: relative;
        background: black;
    }
}
