.headline_h2-light{
    font-size: 35px;
    font-family: "Raleway Regular", sans-serif;
    text-align: center;
    padding: 10px 15px 0 15px;
}

@media (max-width: 1200px) {
    .headline_h2-light{
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .headline_h2-light{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .headline_h2-light{
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .headline_h2-light{
        padding-top: 0;
        font-size: 16px;
    }
}
