.footer-list-item_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #717171;
    border-radius: 50%;
    text-decoration: none;
}
