.section__footer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

@media (max-width: 1200px) {
    .section__footer{
        height: 100px;
    }
}

@media (max-width: 768px) {
    .section__footer{
        height: 60px;
        padding-bottom: 7px;
    }
}
