.header__wrapper{
    width: 1500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 1600px) {
    .header__wrapper{
        width: 1140px;
    }
}

@media (max-width: 1200px) {
    .header__wrapper{
        width: 100%;
        margin: 0 15px;
    }
}


