.list-numbers{
    width: 100%;
    height: 140px;
    border-radius: 5px;
    position: absolute;
    bottom: -70px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 8px 0 #f1f1f1;
}

@media (max-width: 1200px) {
    .list-numbers{
        height: 100px;
        bottom: -50px;
    }
}

@media (max-width: 1200px) {
    .list-numbers{
        display: none;
    }
}

