.wrap-hgroup{
    margin-bottom: 85px;
}

@media (max-width: 992px) {
    .wrap-hgroup{
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .wrap-hgroup{
        margin-bottom: 0;
    }
}
