.headline_h2{
    color: #343435;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: "Open Sans Light", sans-serif;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 1200px) {
    .headline_h2{
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .headline_h2{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .headline_h2{
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .headline_h2{
        font-size: 16px;
    }
}
