@media (max-width: 992px) {
    .article_footer{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .article_footer{
        width: 100%;
    }
}
