.section__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    margin-bottom: 65px;
}

@media (max-width: 1200px) {
    .section__header{
        padding-top: 40px;
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .section__header{
        padding-top: 15px;
        margin-bottom: 15px;
    }
}
