.button_navigation{
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 18px;
    padding: 10px 35px;
    margin-left: 10px;
}

.button_navigation:hover{
    background-color: transparent;
    border-color: white;
}

@media (max-width: 992px) {
    .button_navigation{
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .button_navigation{
        font-size: 14px;
        margin-bottom: 15px;
    }
}
